{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}EHTP Master - Login{% endblock %}

{% block body %}
<div class="flex justify-center mt-12">
	<div class="flex flex-wrap w-full shadow-xl overflow-auto rounded-lg">
		<div class="w-full md:w-1/2 h-auto bg-gray-400 bg-cover"
			style="background-image: url('https://source.unsplash.com/K4mSJ7kc0As/600x800')">
			<div id="client-ip-wrapper" class="w-full h-full" >
				<div id="spinner-wrapper" class="text-center w-full h-full py-4 px-2 hidden" data-api="{% url 'ehtp:client_ip_info' %}">
					<span id="spinner-object" class="m-auto text-yellow-700">
					</span>
					<span id="spinner-message" class="text-md text-yellow-800 block mt-3">Getting your localisation ...</span>
				</div>
				<div id="client-ip-wrapper">
					<div id="client-ip-info" class="p-4 hidden">
						<div class="w-full">
							<svg class="fill-current h-6 w-6 text-yellow-900 inline mr-2" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20">
								<path
									d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4h3.82zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14zm-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4zm.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4H8.33zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4zm.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51H3.07zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51h3.22zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6zM3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6z" />
							</svg>
							<span id="ip" class="text-2xl text-yellow-800"></span>
						</div>
						<div class="flex flex-wrap w-full mt-2 opacity-75">
							<div class="w-full">
								<svg class="fill-current h-3 w-3 text-yellow-900 inline mr-1" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 20 20">
									<path d="M7.667 12H2v8H0V0h12l.333 2H20l-3 6 3 6H8l-.333-2z" /></svg>
								<span id="country" class="text-md text-yellow-800"></span>
							</div>
							<div class="w-full">
								<svg class="fill-current h-3 w-3 text-yellow-900 inline mr-2" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 20 20">
									<path d="M0 0l6 4 8-4 6 4v16l-6-4-8 4-6-4V0zm7 6v11l6-3V3L7 6z" />
								</svg>
								<span id="city" class="text-md text-yellow-800"></span>
							</div>
							<div class="w-full">
								<svg class="fill-current h-3 w-3 text-yellow-900 inline mr-2" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 20 20">
									<path d="M0 0l20 8-8 4-2 8z" /></svg>
								<span id="localisation" class="text-md text-yellow-800"></span>
							</div>
							<div class="w-full">
								<span id="ip-message"></span>
							</div>
						</div>
					</div>
					<div id="client-ip-local" class="p-4 hidden">
						<div class="w-full">
							<svg class="fill-current h-6 w-6 text-yellow-900 inline mr-2" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20">
								<path
									d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4h3.82zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14zm-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4zm.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4H8.33zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4zm.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51H3.07zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51h3.22zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6zM3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6z" />
							</svg>
							<span id="ip" class="text-2xl text-yellow-800"></span>
						</div>
						<div class="flex flex-wrap w-full mt-2 opacity-75">
							<span class="text-md text-yellow-800">We cannot get localisation based on your ip.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w-full md:w-1/2 bg-white p-5">
			<h3 class="pt-4 text-2xl text-center">Welcome Back !</h3>
			<form method="post" class="md:px-8 md:pt-6 pb-8 mb-4 bg-white rounded">
				{% csrf_token %}
				<div class="mb-4">
					{% include 'ehtp/render_field.html' with field=form.username %}
				</div>
				<div class="mb-4">
					{% include 'ehtp/render_field.html' with field=form.password %}
				</div>
				<div class="mb-4">
					{% include 'ehtp/render_form_errors.html' with form=form %}
				</div>
				<div class="mb-6 text-center">
					<button
						class="w-full px-4 py-2 font-bold text-white bg-blue-400 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
						type="submit">
						Sign In
					</button>
				</div>
				<hr class="mb-2 border-t" />
				<p class="text-sm text-gray-600 mt-6">
					You can use this account or
					<a href="{% url 'ehtp:signup' %}" class="text-blue-700 underline">create your
						own</a>,
					feel free !
				</p>
				<table class="min-w-full leading-normal mt-2">
					<thead>
						<tr>
							<th class="px-2 py-2 text-left border-2 border-gray-200 bg-gray-100 text-sm text-gray-702">
								Username
							</th>
							<th class="px-2 py-2 text-left border-2 border-gray-200 bg-gray-100 text-sm text-gray-700">
								Password
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="login-row cursor-pointer">
							<td class="px-2 py-1 border-2 border-gray-200 bg-white text-sm">
								<p class="text-gray-900 whitespace-no-wrap username-row">ehtp</p>
							</td>
							<td class="px-2 py-1 border-2 border-gray-200 bg-white text-sm">
								<p class="text-gray-900 whitespace-no-wrap password-row">ehtp2019</p>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>
<script src="{% static 'js/main.min.js' %}"></script>
{% endblock %}